
*
{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Raleway', 'sans-serif';
}

body
{
    background-color: #344A72;
}

.container
{
    margin: auto;
    padding: 10px;
    max-width: 60%;
    height: auto;
}

#form-wrap
{
    background-color: white;
    padding: 20px;
}

#form-wrap h1, #form-wrap p
{
    text-align: center;
    line-height: 160%;
}

#form-wrap .form-group
{
    padding: 10px;
    margin: auto;
}

.form-group label
{
    display: block;
    margin: none;
    padding-bottom: 10px;
}

.form-group input
{
    width: 100%;
    line-height: 1em;
    padding: 5px;
}

#form-wrap button {
    display: block;
    margin: auto;
    width: 95%;
    background-color: #49c1a2;
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
    color: white;
  }

#form-wrap button a
{
    display: block;
    text-decoration: none;
    text-align: center;
    color: inherit;
}


footer
{
    color: white;
    text-align: center;
}
footer a
{
    text-decoration: none;
    color: lightgreen;
}

#terms
{
    font-size: 15px;
    text-align: center;
    line-height: 20px;
}
#terms a
{
    text-decoration: none;
}