#navbar li
{
    float: none;
    padding: none;
    border-bottom: 1px dotted white;
}


#navbar li:first-child
{
    margin: auto;
}

#navbar #logo a
{
    color: white;
}
#navbar li a
{
    text-align: center;
    padding: none;
    margin: auto;
}

